<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Add your subscription id here-->
    <add key="subscriptionId" value=""/>
    <add key="apiVersion" value="2014-02-01"/>
    <!--Add your certificate thumbprint here-->
    <add key="certificateThumbprint" value=""/>
    <!--Add your cloud service name here-->
    <add key="cloudServiceName" value=""/>
    <add key="classicDeploymentDetailURL" 
         value="https://management.core.windows.net/{0}/services/hostedservices/{1}/deploymentslots/production"/>
  </appSettings>
</configuration>